.form-group {
   margin-bottom: 15px;
   label {
      font-size: 1rem;
      margin-bottom: 0.3125rem;
   }

   .control-wrapper {
      .input-group {
         .input-group-addon {
            background-color: @gray;
            color: #fff;
            padding: 0.5em 1em;
            vertical-align: super;
            font-size: 14px;
            font-weight: 400;
            line-height: 2;
            text-align: center;
            border-radius: 4px 0 0 4px;
         }
      }
   }
}