// Load Master Styles
// -------------------------
@import "_variables.less";
@import "_variable-overrides.less";
@import "_print.less";

/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overrides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html {
  -webkit-font-smoothing: antialiased;
}

// Temporary Fix for Safari 13 Select Rendering Bug
select {
  text-rendering: auto;
  -webkit-font-smoothing: none;
}

// End Temporary Fix

main {
  display: block;
}

// 2. Bootstrap Overrides
// -------------------------

.navbar {
  position: static; // default is relative which causes the dropdowns to go under the other navbars dispite having a higher z-index - JME 9/9/2013

  // using fontawesome nav toggle button instead of the BS default
  .navbar-toggle {
    padding: 6px 10px;

    i.fa-bars {}
  }
}

a:hover i.fs {
  text-decoration: none;
}

// 3. Theme Styling
// -------------------------

h1.pagetitle:empty {
  // hides the page title h1 tag if the page has the title hidden
  display: none;
}

.page-icon {
  display: none;
}

header {

  .page-menu,
  .login-status {
    float: right;
  }

  .navbar {
    border: 0;
  }
}


@import "_css-overrides.less";